<div class="banner text-center">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="container my-4">
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= bookmark.movie.title %> &#183;  <%= bookmark.movie.rating %> <i class="fa-solid fa-star"></i></h2>
            <p><%= bookmark.movie.overview %></p>
          </div>
          <h2 class="card-trip-pricing"><%= link_to "Delete",
      bookmark_path(bookmark),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></h2>
        </div>
      </div>
    <% end %>
  </div>
  <div class='my-4'>
    <%= link_to new_list_bookmark_path(@list) do %>
      <button class='btn btn-success'>Add a new bookmark</button>
    <% end %>
  </div>
</div>
