<div class="banner text-center" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('<%= cl_image_path @list.photo.key ? @list.photo.key : "vbkdy5s19ocgl1hhwrtt7uu3goar" %>')">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="container my-4">
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-trip">
        <%= image_tag bookmark.movie.poster_url %>
        <div class="card-trip-infos">
          <div>
            <h2><%= bookmark.movie.title %> &#183;  <%= bookmark.movie.rating %> <i class="fa-solid fa-star"></i></h2>
            <p><%= bookmark.movie.overview %></p>
          </div>
        </div>
        <div class='card-trip-infos'>
          <h2>"<%= bookmark.comment %>"</h2>
          <h2 class="card-trip-pricing"><%= link_to "Delete",
      bookmark_path(bookmark),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></h2>
        </div>
      </div>
    <% end %>
  </div>
  <div class='my-4'>
    <%= link_to new_list_bookmark_path(@list) do %>
      <button class='btn btn-success'>Add a new bookmark</button>
    <% end %>
  </div>
</div>
