<div class="banner text-center" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('<%= cl_image_path @list.photo.key ? @list.photo.key : "vbkdy5s19ocgl1hhwrtt7uu3goar" %>')">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="container my-4">
  <%= render 'lists/cards' %>
</div>
<div class="container ">
  <%= render 'bookmarks/form', list: @list, bookmark: @bookmark %>
  <div class="row">
    <div class="col py-4">
      <%= render 'reviews' %>
    </div>
    <div class="col"><%= render 'reviews/form', list:@list, review:@review %></div>
  </div>
</div>
