<div class="banner text-center">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="cards">
  <% @list.movies.each do |movie| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= movie.title %></h2>
        <p><%= movie.title %></p>
      </div>
    </div>
  <% end %>
</div>
<p>Bookmarks:</p>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.id %></li>
    <%= link_to "Delete",
      bookmark_path(bookmark),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  <% end %>
</ul>
