<div class="banner text-center" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('<%= cl_image_path @list.photo.key ? @list.photo.key : "vbkdy5s19ocgl1hhwrtt7uu3goar" %>')">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="container my-4">
  <%= render 'lists/cards' %>
  <%= render 'bookmarks/form', list: @list, bookmark: @bookmark %>
  <%= simple_form_for [@list, @review] do |f| %>
    <%= f.input :author %>
    <%= f.input :content, label: 'Your Review', as: :text %>
    <%= f.input :stars, label: 'Rating' %>
    <%= f.submit class:'btn btn-success'%>
  <% end %>
</div>
<div class="container">
  <% @list.reviews.each do |review| %>
    <p><%= review.content %></p>
    <p>Rating: <%= review.stars %></p>
    <p>Author: <%= review.author %></p>
  <% end %>
</div>
