<div class="card p-4">
  <h3>Leave a Review</h3>
  <%= simple_form_for [@list, @review] do |f| %>
    <%= f.input :author %>
    <%= f.input :content, label: 'Your Review', as: :text %>
    <%= f.input :stars, collection: (1..5).to_a, label: "Rating", input_html: {data: {controller: "star-rating"}} %>
    <%= f.submit class:'btn btn-success'%>
  <% end %>
</div>
